.content {
  margin-top: 50px;
}

#background {
  position: absolute;
  opacity: 20%;
}

.form {
  display: inline;
  float: right;
  margin-right: 100px;
}

.org_list {
  display: inline;
  float: left;
  width: 40%;
  margin-top: 20px;
}

.org_list img{
  width: 578px;
  margin-left: -30px;
}

.Political, .NGO, .Chartiy {
  width: 90%;
  padding: 30px;
  box-shadow: 5px 10px 8px #888888;
  margin-bottom: 20px;
  border-radius: 5px;
  color: white;
}

.Political {
  background-color: #cca85c;
}

.NGO {
  background-color: #cc5c5c;
}

.Chartiy {
  background-color: #5c96cc;
}
