.content {
  margin-top: 50px;
}

.background_picture {
  width: 100%;
  height: calc(100vh);
  background: url(../assets/issue_image.png) no-repeat 50% 50%;
  background-size: cover;
  position: relative;
  z-index: -1;
}

.background_picture img {
  max-height: 700px;;
  z-index: -1;
  position: absolute;
  object-fit: cover;
  top: 200px;
  bottom: -67px;
  left: 0px;
  margin: auto;
}



